body {
	background-image: url('../images/blur.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.paper {
	background-color: white;
	width: 800px;
	margin: auto;
	opacity: 0.8;
	overflow: scroll;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
}

p {
	padding-top: 10px;
	font-style: black;
	font-family: 'Poiret One', cursive;
	font-size: 150%;
	font-weight: bolder;
}

.update {
	margin: auto;
}

#add {
	background-color: #12140c;
	color: white;
	font-family: 'Poiret One', cursive;
	font-weight: bolder;
	border-radius: 3%;
	border: none;
	width: 70px;
	height: 25px;
	padding-bottom: 1px;
	border: none;
}

#add:focus {
	border: 1.5px solid #454b34;
	outline: none;
}

#items {
	width: 200px;
	height: 20px;
	display: inline-block;
	text-align: center;

}

#items:focus {
	border: 1.5px solid #454b34;
	outline: none;
}

#add:hover {
	background-color: #454b34;
	color: white;
	font-family: 'Poiret One', cursive;
	font-weight: bolder;
	border-radius: 3%;
	border: none;
}

.list {
	padding-top: 10px;
	padding-bottom: 50px;
	font-family: 'Poiret One', cursive;
	font-size: 130%;
	font-weight: bolder;
	left: 0;
	right: 0;
	margin: auto;
	padding-right: 50px;
}

ul p {
	font-style: black;
	font-family: 'Poiret One', cursive;
	font-size: 120%;
	font-weight: bolder;
	text-decoration: underline;
}

ul {
	list-style: none;
	margin-top: -20px;
}

ul p {
	margin-bottom: 5px;
}

li {
	text-transform: capitalize;
}

li:hover {
	color: #454b34;
}












